header {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    margin: 0 auto;
    padding: 0 16px;
    font-family: sans-serif;
    max-width: 1000px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-height: 100vw;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}
#food-item  {
    border-radius: 20px;
    border: 2px solid green;
    padding: 15px;
    padding-left: 25px;
    margin-top: 15px;
}

#bar {
    border: 2px solid green;
    width: 100%;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#submitButt {
    height: 50px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-size: 20px;
    background: green;
    border: none;
}

.grid {
  display: grid;
  gap: 16px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#instadiv {
    aspect-ratio: 1 / 1;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.14), 0px 3px 6px 0px rgba(0,0,0,0.09), 0px 1px 10px 0px rgba(0,0,0,0.07);
}

#profileSq {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

#floatbar {
    position: fixed;
    z-index: 9999;
    bottom: 50px;
    width: 150px;
    height: 50px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.14), 0px 3px 6px 0px rgba(0,0,0,0.09), 0px 1px 10px 0px rgba(0,0,0,0.07);
}