{% extends 'restaurant/base.html' %}
{% comment %}
Author: Tim Nguyen (tim7@bu.edu), 9/22/2026
Description: Main Page for MegaBites, showing an image and main page of the wesbite
{% endcomment %}
{% block content %}
    <h2>Home of some of the world's most delectable bites.</h2>
    <img src="https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_4:3/tk%2Fphoto%2F2025%2F06-2025%2F2025-06-burger-doneness-guide%2Fburger-doneness-guide-0195"  style="max-width: 1060px; width: 100vw; height: auto;">
{% endblock %}