{% extends 'quotes/base.html' %}

{% block content %}
    <h2>Peter Thiel</h2>
    <p>Peter Thiel is a famous American venture-capitalist that is known for his very interesting takes on technology and also is known for co-founding Paypal, Palantir, and the Founders Fund.</p>

    <h2> Tim Nguyen </h2>
    <p> Tim created this website as part of his CS412 class. He is currently a Junior at BU studying computer science and is also a part-time robotics engineer of a startup in Cambridge where he is working on vision-based systems for robotics </p>
{% endblock %}