{% load static %}

{% comment %}
Author: Tim Nguyen (tim7@bu.edu), 9/16/2026
Description: Base HTML file for navigation
{% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tim's Quote Generator</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    </head>
    <body>
        <header>
            <h1> Quote of the Day </h1>
            <a href="{% url 'quote' %}">Random Quote</a> |
            <a href="{% url 'show_all' %}">Show All</a> |
            <a href="{% url 'about' %}">About</a>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
