{% load static %}

{% comment %}
Author: Tim Nguyen (tim7@bu.edu), 9/29/2026
Description: Base HTML file for mini_insta assignment
{% endcomment %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>BookFace</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    </head>
    <body>
        <header style="padding-top: 10px">
            <h1> Book Face</h1>
            <a href="{% url 'show_all_profiles' %}">Main Directory</a>
        </header>
        <main>
        {% block content %}
        {% endblock %}
        </main>
        <footer style="margin-top: auto; padding: 20px">
            <div id="floatbar">
    <h3 style="margin-top:15px"><a href="{% url 'show_all_profiles' %}">Back</a> 
    {% if profile %}
            | <a href="{% url 'create_post' profile.pk %}">Post</a>
        {% endif %}
    </h3>
</div>
        </footer> 
    </body>
</html>