{% extends 'mini_insta/base.html' %}
{% comment %}
Author: Tim Nguyen (tim7@bu.edu), 9/29/2026
Description: Indivual Profiles for book face
{% endcomment %}

{% block content%}

<div id="profileSq" style="padding-bottom: 30px">
        <img src="{{profile.profile_image_url}}" style="margin-top: -15px; width: 150px; height: 150px; object-fit: cover; object-position: center;">
    <div>
        <h1 style="margin: 0;">{{profile.display_name}}</h1>
        <h2 style="margin: 0;">@{{profile.username}}</h2>
        <p >{{profile.bio_text}}</p>
        <p style="margin-top: -10px">Joined: {{profile.join_date}}</p>
        <p style="margin-top: -10px"> 300 Followers | 200 Following | 3 Posts</p>
    </div>
</div>


<div class=grid style="padding-bottom: 40px, padding-top: 30px">
{% for post in profile.get_Posts %}
<a href="{% url 'post' post.pk %}" style="text-decoration: none; color: black">
    <div id=instadiv style="padding: 0;">
        <img src="{{post.get_Photos.first.image_url}}" style="margin-top: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center;">
    </div>
</a>
{% endfor %}
</div>
{%endblock%}